$blue        :rgb(24, 119, 242);
$red         : rgb(255, 0, 51);
$white       : rgb(255, 255, 255);
$gray-light  :rgb(240, 242, 245);
$gray-hover  :rgb(224, 224, 224);
$gray-darker :rgb(101, 103, 107);
$text-dark   :rgb(0, 0, 0);
$text-dark-light :rgb(82, 82, 82);