@use '_variables'as var;
@use '_extends';
@import '_mixins';


// Import Bootstrap SCSS 
@import "../../node_modules/bootstrap/scss/functions"; // Import functions
@import "../../node_modules/bootstrap/scss/variables"; // Import variables Bootstrap
@import "../../node_modules/bootstrap/scss/mixins"; // Import mixins

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

// Responsive rem
html {
    font-size: 16px;

}

@media (max-width: 1024px) {
    html {
        font-size: 14px;

    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px;

    }
}

body {
    background-color: var.$gray-light;



}



// Header
header.header {
    margin-bottom: 80px;

    nav.navbar {
        background-color: var.$white;
        box-shadow      : rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .custom-navbar {
        backdrop-filter: blur(10px);
        padding        : 10px 0;
    }

    .navbar-brand {
        .brand-name {
            font-size  : 1.2rem;
            font-weight: bold;
        }
    }

    .navbar-nav {
        .nav-link {
            font-size : 1rem;
            padding   : 10px 15px;
            transition: all 0.3s ease;

            &:hover {
                color: var.$blue;
            }
        }
    }

    .search-bar {
        border-radius: .3rem;
        overflow     : hidden;
        border       : 1px solid rgba(0, 0, 0, 0.2);
        display      : flex;

        @include media-breakpoint-down(md) {
            margin-top: .5rem;
        }

        input {
            border : none;
            outline: none;
            padding: 8px 15px;
        }
    }

    .search-btn {
        background     : var.$blue;
        color          : var.$white;
        border         : none;
        padding        : 8px 12px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        transition     : background 0.3s ease;

        &:hover {
            background: var.$blue;
        }
    }

    .navbar-account {
        position   : relative;
        margin-left: 20px;

        .account-dropdown {
            position   : relative;
            display    : flex;
            align-items: center;
            cursor     : pointer;

            .account-icon {
                width : 40px;
                height: 40px;

                img {
                    width        : 100%;
                    height       : 100%;
                    border-radius: 50%;
                    border       : 2px solid rgba(0, 0, 0, 0.1);
                    transition   : 0.3s;
                    object-fit   : cover;

                    &:hover {
                        border-color: var.$blue;
                    }
                }



                &:hover {
                    .dropdown-menu {
                        opacity   : 1;
                        visibility: visible;
                        display   : block;
                    }
                }
            }

            .dropdown-menu {
                position     : absolute;
                top          : 100%;
                right        : 0;
                background   : white;
                box-shadow   : 0px 4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                min-width    : 150px;

                transform : translateY(10px);
                transition: 0.3s ease-in-out;
                display   : block;
                opacity   : .3;
                visibility: hidden;

                li {
                    list-style: none;
                    padding   : 10px 15px;
                    text-align: left;

                    a {
                        text-decoration: none;
                        color          : #333;
                        font-size      : 0.9rem;

                        transition: 0.3s;

                        &:hover {
                            color: var.$blue;
                        }
                    }
                }
            }

            &:hover {
                .dropdown-menu {

                    opacity   : 1;
                    visibility: visible;
                }
            }
        }

        .into-account {
            a {
                position  : relative;
                color     : var.$gray-darker;
                transition: .2s linear;

                &:hover {
                    color: var.$blue;

                }
            }
        }
    }



}

// Hero
.hero {
    #carouselHero {
        .carousel-inner {
            .carousel-item {
                height: 400px;

                img {
                    width     : 100%;
                    height    : 100%;
                    max-height: 400px;
                    object-fit: fill;
                }

                @include media-breakpoint-down(md) {
                    height: 300px;
                }

                @include media-breakpoint-down(sm) {
                    height: 200px;
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: 5%;
        }
    }

    .hero-extra {
        padding     : 0;
        padding-left: 5px;

        &-item {
            height    : 100%;
            height    : 200px;
            max-height: 200px;
            overflow  : hidden;

            img {
                width     : 100%;
                object-fit: cover;
            }

        }

        &-item:nth-child(2) {
            padding-top: 5px;
        }
    }
}

//Category
.category {
    &-content {
        background: var.$white;

        .section-title {
            p {
                @extend %decoration70;
            }

        }

        .swiper-category {
            @extend %button-prev-next-swiper;

            .category-item {
                transition: .1s transform linear;
                position  : relative;

                a {
                    img {
                        padding     : 30px;
                        width       : 100%;
                        height      : auto;
                        aspect-ratio: 4/3;
                    }
                }

                &:hover {
                    transform: translateY(-5px);
                    opacity  : .6;


                    &::after {
                        width: 100%;
                    }

                    &::before {
                        height: 100%;
                    }

                }

                &::after,
                &::before {
                    content         : '';
                    display         : block;
                    position        : absolute;
                    transition      : .3s all linear;
                    bottom          : 0;
                    background-color: var.$gray-hover;

                    right: 0;
                }

                &::after {

                    width : 0%;
                    height: 2px;
                }

                &::before {

                    width : 2px;
                    height: 0%;
                }

                a {
                    color         : var.$text-dark;
                    text-transform: capitalize;
                }


            }
        }
    }
}

// Flash sale
.flash-sale {
    &-content {
        background: white;

        .section-title {
            p {
                @extend %decoration70
            }

            .countdown-expired {
                height : 100%;
                border : 1px solid var.$red;
                padding: 2px 5px;
                color  : var.$red;

                .countdown-item {

                    .countdown-slide {
                        display   : inline-block;
                        transition: transform 0.3s ease, opacity 0.3s ease;
                    }
                }


                .slide-down {
                    transform: translateY(-100%);
                    opacity  : 0;
                }

                .slide-up {
                    transform: translateY(10%);
                    opacity  : 1;
                }
            }

            .view-all {
                @extend %viewAll;
            }
        }

        .swiper-flash-sale {
            @extend %button-prev-next-swiper;

            .fs-item {
                transition: .2s linear;
                border    : 1px solid white;

                &:hover {
                    border: 1px solid var.$gray-hover;
                }

                .card {
                    img {
                        padding: 5px;
                    }

                    .card-body {
                        .card-price {
                            color: var.$red;
                        }

                        .card-success {
                            background-color: rgba(var.$red, .3);
                            position        : relative;
                            height          : 1rem;
                            padding         : 2px;

                            .process {
                                position  : absolute;
                                top       : 0;
                                left      : 0;
                                height    : 100%;
                                background: linear-gradient(to right, var.$red, orange);

                            }

                            .sold {
                                position      : absolute;
                                top           : 0;
                                left          : 0;
                                font-size     : .8rem;
                                background    : none;
                                width         : 100%;
                                text-align    : center;
                                font-weight   : 500;
                                text-transform: capitalize;
                            }
                        }
                    }

                }
            }
        }
    }
}

// Products
.products {
    .product-content {
        .section-title {
            @extend %section-title;
            border-top: 2px solid var.$blue;

            p {

                &::after {
                    display: none;
                }
            }
        }

        .product-item {
            perspective    : 1000px;
            transform-style: preserve-3d;
            transition     : transform 0.3s ease-in-out;
            position       : relative;
            overflow       : hidden;

            a {
                text-decoration: none;
            }

            &::before {
                position        : absolute;
                opacity         : 0;
                top             : 0;
                left            : 0;
                width           : 100%;
                height          : 100%;
                content         : "";
                color           : var.$blue;
                font-weight     : bold;
                text-align      : center;
                background-color: rgba(0, 0, 0, 0.1);
                display         : flex;
                justify-content : center;
                align-items     : center;
                font-size       : 1rem;
                transition      : opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                transform       : scale(0.7);
            }

            img {
                aspect-ratio: 4/3;
                display     : block;
                width       : 100%;
                height      : auto;
            }

            .card-body {
                padding: 10px;

                .body-bottom {
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;

                    p {
                        margin: 1rem 0 0.5rem 0;
                    }

                    .card-price {
                        color: var.$red;
                    }
                }
            }

            &:hover {
                transform: scale(1.05);

                &::before {
                    opacity  : 1;
                    transform: scale(1);
                }
            }
        }

        .view-more-product {
            a {
                background: var.$blue;
                color     : var.$white;
                border    : 1px solid var.$blue;
                transition: .2s ease-in-out;

                &:hover {
                    background: var.$white;
                    color     : var.$blue;
                }
            }
        }
    }
}

// Footer
footer {
    background-color: var.$white;
    border-top      : 3px solid var.$blue;
    color           : var.$text-dark;

    .footer {
        div:nth-child(-n+3) {
            .title {
                @extend %decoration70;
            }
        }



        &-link {
            @include media-breakpoint-down(sm) {
                padding-top: 1.5rem;
            }

            li {
                transition: .2s linear;

                a {
                    color: var.$text-dark;


                }

                &:hover {
                    transform: translateX(.5rem);

                    a {
                        color: var.$blue;
                    }
                }
            }
        }

        &-contact {
            .social-links {
                perspective    : 1000px;
                transform-style: preserve-3d;


                a {
                    width           : 2rem;
                    height          : 2rem;
                    box-sizing      : border-box;
                    padding         : 5px;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    border-radius   : .3rem;
                    border          : 1px solid var.$blue;
                    color           : var.$white;
                    background-color: var.$blue;
                    transition      : transform 0.4s ease-in-out, background-color 0.4s, color 0.4s;

                    i {
                        transition: transform 0.4s ease-in-out;
                    }

                    &:hover {
                        border          : 1px solid var.$blue;
                        color           : var.$blue;
                        background-color: var.$white;
                        transform       : rotateY(180deg);

                        i {
                            transform: rotateY(180deg);
                        }
                    }
                }
            }
        }
    }


}

// Product/shop page styles 
.product-listing {
    .options {

        // < md filter
        .btn-offcanvas-filter-mb {
            border    : 1px solid var.$blue;
            background: var.$white;
            color     : var.$blue;

            &:hover {

                background: var.$blue;
                color     : var.$white;
            }
        }



        .btn-filter-newest,
        .btn-filter-bseller,
        select {
            border: 1px solid var.$gray-darker;
            color : var.$gray-darker;

            &.active {
                border    : 1px solid var.$blue;
                background: var.$blue;
                color     : var.$white;
            }
        }

    }

    .product-item {
        perspective    : 1000px;
        transform-style: preserve-3d;
        transition     : transform 0.3s ease-in-out;
        position       : relative;
        overflow       : hidden;

        a {
            text-decoration: none;
        }

        &::before {
            position        : absolute;
            opacity         : 0;
            top             : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
            content         : "";
            color           : var.$blue;
            font-weight     : bold;
            text-align      : center;
            background-color: rgba(0, 0, 0, 0.1);
            display         : flex;
            justify-content : center;
            align-items     : center;
            font-size       : 1rem;
            transition      : opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            transform       : scale(0.7);
        }

        img {
            aspect-ratio: 4/3;
            display     : block;
            width       : 100%;
            height      : auto;
        }

        .card-body {
            padding: 10px;

            .card-price {

                color: var.$red;
            }

            .body-bottom {
                display        : flex;
                justify-content: space-between;
                align-items    : center;

                p {
                    margin: 1rem 0 0.5rem 0;

                }


            }
        }

        &:hover {
            transform: scale(1.05);

            &::before {
                opacity  : 1;
                transform: scale(1);
            }
        }
    }

}

// Product-detail page styles 
.product-detail {
    .product-images {
        .main-image {
            position: relative;

            img {
                aspect-ratio: 16/9;
                display     : block;
                width       : 100%;
                height      : auto;
                object-fit  : cover;
                object-fit  : fill;

            }


            .swiper-button-next,
            .swiper-button-prev {
                position     : absolute;
                right        : 10px;
                top          : 50%;
                transform    : translateY(-50%);
                z-index      : 10;
                transition   : background 0.3s ease;
                border-radius: 5px;
                color        : var.$blue;



                &:hover {

                    background: rgba(0, 0, 0, 0.1);
                }
            }

        }

        .thumbnail-images {
            .swiper-thumbnail-images {
                overflow: hidden;

                .swiper-wrapper {
                    .thumbnail-item {
                        img {
                            border-radius: .5rem;
                            aspect-ratio : 16/9;
                            display      : block;
                            width        : 100%;
                            height       : auto;
                            object-fit   : cover;
                            object-fit   : fill;
                        }

                        &.active {
                            img {
                                padding: 2px;
                                border : 1px solid var.$blue;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Cart page styles 
.cart {
    table {
        tbody {}
    }
}

// profile page styles 
.profile {
    #profile {
        .profile-image {
            img {
                width        : 100%;
                height       : 100%;
                max-width    : 200px;
                max-height   : 200px;
                object-fit   : cover;
                border-radius: 50%;
            }
        }
    }
}

// RESPONSIVE
@media (max-width: 768px) {}